html,
body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-size: 16px;
    line-height: 20px;
    font-family: 'Open Sans', sans-serif;
}

:root {
    --primary-text-color: black;
    --subtle-text-color: #7a7a7a;
    --accent-color: #b11adc;
}

/* Layout */
.d-iflex {
    display: inline-flex;
    justify-content: space-evenly;
    width: 100%;
}

/* Typography */
.bold {
    font-weight: bold;
}

h1 {
    margin: 1rem 0;
    font-size: 2em;
}

h2 {
    margin: 0.9rem 0;
    font-size: 1.6em;
}

h3 {
    margin: 0.75rem 0;
    font-size: 1.4em;
}

h4 {
    margin: 0.5rem 0;
    font-size: 1.2em;
}

h5 {
    font-size: 1em;
}

h6 {
    font-size: 0.8em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
    font-style: normal;
}

#mapid {
    width: 100%;
    height: 100%;
}

#content {
    width: 100%;
    height: 100%;
}

.pane {
    width: 100%;
    height: 100%;
}

.gutter {
    height: 100%;
    background: #ddd;
}

.gutter-vertical {
    cursor: row-resize;
}

.gutter-horizontal {
    cursor: col-resize;
}

.dataColorScaleContainer {
    width: 200px;
    height: 60px;
    background: rgba(255, 255, 255, 0.7);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 5px;
}

.dataColorScaleGradient {
    width: 80%;
    height: 30px;
}

.dataColorScaleBounds {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.splitter>.split-block {
    overflow: auto;
}

/* Remove padding in control buttons */
.leaflet-touch .leaflet-bar button {
    padding: 0;
}

.marker-cluster {
	background-clip: padding-box;
	border-radius: 20px;
	}
.marker-cluster div {
	width: 30px;
	height: 30px;
	margin-left: 5px;
	margin-top: 5px;

	text-align: center;
	border-radius: 15px;
	font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
	}
.marker-cluster span {
	line-height: 30px;
	}